<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
  </head>
  <body>
    <%
      function getTime (timestamp) {
        console.log(timestamp);
        let ss = Math.floor(timestamp / 1000);
        let hours = Math.floor(ss / 3600);
        ss %= 3600;
        let mins = Math.floor(ss / 60);
        ss %= 60;
        console.log(hours, mins, ss);
        console.log(`${hours} hours, ${mins} minutes, ${ss} seconds`);
        return `${hours} hours, ${mins} minutes, ${ss} seconds`;
      }
    %>
    <div class="container">
      <h3>List of students for lecture: <%= data.title %></h3>
      <div class="accordion" id="accordionExample">
        <% for(var i = 0; i < data.studentLog.length; i++) { %>
        <div class="card">
          <div class="card-header" id="heading<%= i %>">
            <h2 class="mb-0">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="collapse"
                data-target="#card<%= i %>"
                aria-expanded="false"
                aria-controls="card<%= i %>"
              >
                <%= data.studentLog[i].name %>
              </button>
            </h2>
          </div>

          <div
            id="card<%= i %>"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <ul>
                <% for(var j = 0; j < data.studentLog[i].durations.length; j++)
                {%>
                <li>
                  From : <%=
                  data.studentLog[i].durations[j].start.toLocaleString() %> to
                  <%= data.studentLog[i].durations[j].end.toLocaleString() %>
                  (Duration : <%= getTime(data.studentLog[i].durations[j].span) %>)
                </li>
                <%}%>
              </ul>

              <p>Total time spent: <%= getTime(data.studentLog[i].totalTimeSpent)%></p>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
